// 推荐页
.tuijian,
.youshengshu,
.xiangsheng,
.yinyue,
.ertong,
.renwen,
.qinggan,
.lishi,
.keji {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


// 公共部分
.van-grid {
  width: 88%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    width: 34px;
    height: 34px;
    display: inline-block;

    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }
}