.list-view {
  width: 100%;

  .list-view-header {
    .list-view-title {
      font-size: 18px;
      color: #40404c;
      line-height: 25px;
      margin: 17px 0 17px 15px;
      font-weight: 700;
    }
  }
}